/**
 * 2014-05-20 01:57
 * Phoenix Nemo <i at phoenixlzx dot com>
 * License MIT | http://opensource.org/licenses/MIT
 */

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url(/img/1653588.jpg); */
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

div#topSites {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.7);
    box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.7);
}

ul#topSites {

/*    max-height: 3em;*/

}

ul#topSites li {
    display: inline;
    margin: 0.4em;
}

ul#topSites li a {
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    line-height: 3em;
    text-decoration-color: #FFFFFF;
}

a.top {
    border: 1px solid rgba(0, 0, 0, 0);
    color: #3e4558;
    padding: 0.3em;
    overflow: hidden;
}

a.top:hover {
    color: #ffffff;
    overflow: visible;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
    border: 1px solid #a2c5ff;
    background-color: rgba(88, 144, 255, 0.80);
    -webkit-box-shadow: 0 0 15px #61a4ff;
    box-shadow: 0 0 15px #61a4ff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}